<style>
/* Stolen from http://getbootstrap.com/examples/signin/ */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="container">
    <% if (errors) {%>
      <% errors.forEach(function (error) { %>
        <div class="alert alert-danger"><%= __(error) %></div>
      <% }) %>
    <% } %>

    <form role="form" action="/auth/local/register" method="post" class="form-signin">
        <h2 class="form-signin-heading">Registration</h2>
        <input type="text" id="email" name="email" class="form-control" placeholder="E-Mail" required autofocus>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

    <div class="text-center"><a href="/">Cancel</a></div>
</div>
