# http://editorconfig.org

root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{package,bower}.json]
indent_size = 2

[*.{scss,sass}]
indent_size = 2

[*.js]
indent_size = 2

[*.css]
indent_size = 2

[*.php]
indent_size = 4
